body{
    // RESET
    // padding: 0;
    // margin: 0;

    background-color:#F2F2F2;

    #Top-Hebergement{
        .item img{
            width: 13em;
        }
        background-color:grey;
    }

    #Populaires{
        .item img{
            width: 13em;
        }
        background-color:hotpink;
    }

    #Content-mid{
        .item img{
            width: 13em;
        }
        background-color: green;
    }

    footer{
        .flex{
            display: flex;
            flex-direction:row;
        }
        background-color: yellow;
    }
}